.header{
	font-family: apercu, sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	height: 9%;
	width: 100%;
	background-color: black;
	position: fixed;
	top: 0;
	z-index: 500;
	border-bottom: .5px #aaa solid;
}

.links, #logo-circle{
	position: absolute;
	vertical-align: middle;
	display: inline;
	top: 15%;
	cursor: pointer;
}

.links{
	text-align: right;
	right: 10%;
	top: 40%;
	width: 100%;
}

.links a{
	padding: 0 2%;
	z-index: 100;
	cursor: pointer;
}

#logo-circle{
	height: 60px;
	width: 60px;
	left: 10%;
	z-index: 100;
}

.body{
/*	background-color: green;*/
	width: 60vw;
	margin: 20vh auto 0 auto;
	z-index: 0;
	position: static;
	display: block;
	min-height: 90vh;
/*	display: none;*/
}

.container-1, .container-2, .container-3{
	display: inline-block;
	vertical-align: top;
	padding: 0 2%;
}

.container-1{
	width: 33%;
	position: sticky;
}

.container-3{
	width: 66%;
	/*max-height: 80vh;*/
	overflow: scroll;
}

.container-3::-webkit-scrollbar {
  display: none;
}

.container-3 {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-2{
	width: 49%;
	margin-bottom: 3%;
/*	display: inline-block;
	vertical-align: top;
	padding: 0 2%;*/
}

.container-2 img{
	width: 100%;
	margin-bottom: 10vh;
}

.center{
	text-align: center;
	padding: 0 2%;
	display: block;
	margin: 0;
}

.break{
	height: 10vh;
}

h1, h2, h3, p, ul{
	margin-top: 0;
	text-transform: none;
	vertical-align: text-top;
}

h2, h3, p, ul{
	color: #cacaca;
	font-family: apercu, sans-serif;
}

h1{
	/*font-family: gt-sectra-display, serif;*/
	font-family: gt-sectra-black, serif;
	color: #fff;
	font-size: 2.5em;
}

h2{
	font-size: 1.5em;
	display: inline-block;
	margin: 0 5% 0 0;
}

p, ul, label, .button{
	font-size: 1.1em;
	hyphens: auto;
	
}

i{font-family: 'apercu-italic';}

.stats{
	font-size: 3.5em;
	font-family: apercu, sans-serif;
	font-weight: bold;
	color: white;
	margin: 0;
	transition: 0.3s;
}

.stats:hover{
	color: red;
}

li{
	line-height: 125%;
}

ul li::before {
  content: "\2022";
  color: #cacaca;
  width: 1em;
  display: inline-block;
  margin-left: -1em;
}

body img{
	width: 100%;
}

label, .button{
	color: #cacaca;
	font-family: apercu, sans-serif;
	margin-right: 3%;
	transition: 0.2s;
}

.button:hover{
	background-color: #f00;
	border: none;
	color: black;
}

.grid {
  display: grid;
}

.grid img{
	padding: 7%;
}

.mc-field-group{
	padding-top: 5%;
}

input{
	border-radius: 10px;
	border: none;
	padding: 10px;
}

.button{
	background-color: black;
	border: #cacaca solid 1px;
	border-radius: 10px;
	cursor: pointer;
	color: #cacaca;
	padding: 1% 2%;
	margin-top: 5%;
}

.footer{
	width: 100%;
	height: 18vh;
	display: block;
	padding: 2%;
}

.footer p{
	z-index: 100;
	font-size: .9em;
}

.footer a, .footer p{
	color: #aaa;
}

.footer a:hover{
	color: red;
}

.hidden{
	display: none;
}

/*CAROUSEL STUFF*/
.carousel {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.slides {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}
.slides::-webkit-scrollbar {
  display: none;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100vh;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySlides img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}


.prev, .next {
  cursor: pointer;
  display: inline;
  justify-content: center; 
  position: absolute;
  top: 50%;
  width: auto; 
  padding: 16px;
  color: white;
  font-size: 18px;
  z-index: 10;
  user-select: none;
}

.next {
  right: 0;
}
.prev {
  left: 0;
}

.prev:hover, .next:hover {
  color: #cacaca;
  transition: 0.6s;
}


/*RESPONSIVE MEDIA*/

/*small laptop screen*/
@media screen and (max-width: 1500px){
	.body{
		width: 80vw;
	}

	.container-1{
		width: 100%;
		position: sticky;
	}
}

/*iPad/large screen*/
@media screen and (max-width: 1100px){
	.container-1{
		width: 100%;
		position: sticky;
	}

	.container-3{
		width: 100%;
		overflow: scroll;
	}

	.hidden{
		display: inline-block;
	}

	.show{
		display: none;
	}

	.description{
		font-size: 2.5em;
		left: 0;
		max-width: none;
		max-height: none;
		margin: 0 5%;
		bottom: 7%;
	}

}

/*mobile*/
@media screen and (max-width: 850px){
	.body{
		width: 85vw;
	}

	.header{
		height: 17%;
	}

	.links, #logo-circle{
		top: 0;
		margin: 2% auto;
	}

	.links a{
		font-size: .7em;
		padding: 0 .5%;
	}

	#logo-circle{
		height: 40px;
		width: 40px;
	}

	p, ul{
		font-size: .95em;
	}
	

	.container-2{
		width: 100%;
	}

	.container-2 img{
		margin: 10% 0 0 0 ;
	}

	.container-3{
		height: 100%;
		max-height: none;
		overflow: auto;
		
	}

	.body{
		margin-bottom : 10%;
	}

	.footer{
		padding: 3vh;
	}

	.content{
		display: none;
	}

	#body{
		background-image: url("img/grid.png");
		width: 100vw;
		height: 100vh;
	}

	.nav{
		font-size: .85em;
		right: unset;
		text-align: center;
		margin: 5% 0 0 5%;
	}

	#logo{
		position: fixed;
		margin: 2%;
		width: 50px;
		height: 32px;
	}

	#logo, .nav{
		top: unset;
		display: inline-block;
	}

	#header{
		margin: 5%;
	}

	.description{
		font-size: 1.5em;
	}

	#rgbKineticSlider{
		display: none;
	}

	.content{
		background-image: url("img/grid.png");
	}

}

/*mobile*/
@media screen and (max-width: 600px){
	.header{
		height: 12%;
	}

	.links, #logo-circle{
		display: block;
		position: static;
	}

	.links{
		text-align: center;
	}

	.links a{
		font-size: .7em;
		padding: 0 .5%;
	}

	.footer{
		height: 12vh;
	}
}








